.outer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 968px;
    height: auto;
    margin-top: 20px;
}

.innerleft-div{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.innerleft-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    object-fit: contain;
}

.innerright-div{
    flex: 1;
}

.innerleft-div-image{
  /* style={{ marginRight: "10px", width: "30%"}} */
  margin-right: 20px;
  width: 30%;
}

@media screen and (max-width: 600px) {
    .innerleft-div {
      flex-direction: column;
    }
  
    .innerleft-button {
      flex-direction: column;
      gap: 10px;
    }
  
    .innerright-div {
      width: 100%; /* Adjust width for smaller screens */
    }

    .innerleft-div-image{
      width: 100%;
    }
  }