.BookCard:hover{
    box-shadow: 0px 26px 58px 0px rgba(0, 0, 0, 0.22),
    0px 5px 14px 0px rgba(0, 0, 0, 0.18);
}

.BookCard{
    width: 175.11;
    height: 250;
}

.card{
    width: 200px;
    height: 280px;
    object-fit: contain;
}

.cardmedia-image{
    width: 100%;
    display: flex;
    object-fit: contain;
    background-color: #ECEAEA;
    height: 50%;
}