.main-card{
    /* style={{ marginBottom: "16px", display: "flex", height: "180px", width:"100%" }} */
    display: flex;
    width: 100%;
    height: 160px;
    margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
    .main-card { /* Stack elements vertically for smaller screens */
      height: 180px; /* Allow height to adjust based on content */
    }
  }