.main-container{
    /* style={{ width: "35%", marginLeft: "20%", objectFit: "contain" }} */
    width: 60%;
    object-fit: contain;
    margin-bottom: 5%;
}

@media screen and (max-width: 600px) {
    .main-container {
      width: 100%; /* Adjust width for smaller screens */
       margin-left: 0; /*Remove left margin for smaller screens */
    }
  } 